In [2]:
import os
from dotenv import load_dotenv
from pymongo.server_api import ServerApi
from pymongo.mongo_client import MongoClient

In [3]:
load_dotenv()


uri = os.getenv("MONGO_ATLAS_URL")
client = MongoClient(uri, server_api=ServerApi("1"))

try:
    client.admin.command("ping")
    print("Conectado no MongoDB!")
except Exception as e:
    print(e)

Conectado no MongoDB!

In [4]:
db = client['db_sales']

In [5]:
db.list_collection_names()

['sales']

In [6]:
collection = db['sales']

In [7]:
list(collection.find({}).limit(5))

[{'_id': ObjectId('67b387e92a80135900d5002e'),
  'ORDERNUMBER': '10107',
  'QUANTITYORDERED': '30',
  'PRICEEACH': '95.7',
  'ORDERLINENUMBER': '2',
  'SALES': '2871',
  'ORDERDATE': '2/24/2003 0:00',
  'STATUS': 'Shipped',
  'QTR_ID': '1',
  'MONTH_ID': '2',
  'YEAR_ID': '2003',
  'PRODUCTLINE': 'Motorcycles',
  'MSRP': '95',
  'PRODUCTCODE': 'S10_1678',
  'CUSTOMERNAME': 'Land of Toys Inc.',
  'PHONE': '2125557818',
  'ADDRESSLINE1': '897 Long Airport Avenue',
  'ADDRESSLINE2': '',
  'CITY': 'NYC',
  'STATE': 'NY',
  'POSTALCODE': '10022',
  'COUNTRY': 'USA',
  'TERRITORY': 'NA',
  'CONTACTLASTNAME': 'Yu',
  'CONTACTFIRSTNAME': 'Kwai',
  'DEALSIZE': 'Small'},
 {'_id': ObjectId('67b387e92a80135900d5002f'),
  'ORDERNUMBER': '10121',
  'QUANTITYORDERED': '34',
  'PRICEEACH': '81.35',
  'ORDERLINENUMBER': '5',
  'SALES': '2765.9',
  'ORDERDATE': '5/7/2003 0:00',
  'STATUS': 'Shipped',
  'QTR_ID': '2',
  'MONTH_ID': '5',
  'YEAR_ID': '2003',
  'PRODUCTLINE': 'Motorcycles',
  'MSRP': '95',
  'PRODUCTCODE': 'S10_1678',
  'CUSTOMERNAME': 'Reims Collectables',
  'PHONE': '26.47.1555',
  'ADDRESSLINE1': "59 rue de l'Abbaye",
  'ADDRESSLINE2': '',
  'CITY': 'Reims',
  'STATE': '',
  'POSTALCODE': '51100',
  'COUNTRY': 'France',
  'TERRITORY': 'EMEA',
  'CONTACTLASTNAME': 'Henriot',
  'CONTACTFIRSTNAME': 'Paul',
  'DEALSIZE': 'Small'},
 {'_id': ObjectId('67b387e92a80135900d50030'),
  'ORDERNUMBER': '10134',
  'QUANTITYORDERED': '41',
  'PRICEEACH': '94.74',
  'ORDERLINENUMBER': '2',
  'SALES': '3884.34',
  'ORDERDATE': '7/1/2003 0:00',
  'STATUS': 'Shipped',
  'QTR_ID': '3',
  'MONTH_ID': '7',
  'YEAR_ID': '2003',
  'PRODUCTLINE': 'Motorcycles',
  'MSRP': '95',
  'PRODUCTCODE': 'S10_1678',
  'CUSTOMERNAME': 'Lyon Souveniers',
  'PHONE': '+33 1 46 62 7555',
  'ADDRESSLINE1': '27 rue du Colonel Pierre Avia',
  'ADDRESSLINE2': '',
  'CITY': 'Paris',
  'STATE': '',
  'POSTALCODE': '75508',
  'COUNTRY': 'France',
  'TERRITORY': 'EMEA',
  'CONTACTLASTNAME': 'Da Cunha',
  'CONTACTFIRSTNAME': 'Daniel',
  'DEALSIZE': 'Medium'},
 {'_id': ObjectId('67b387e92a80135900d50031'),
  'ORDERNUMBER': '10145',
  'QUANTITYORDERED': '45',
  'PRICEEACH': '83.26',
  'ORDERLINENUMBER': '6',
  'SALES': '3746.7',
  'ORDERDATE': '8/25/2003 0:00',
  'STATUS': 'Shipped',
  'QTR_ID': '3',
  'MONTH_ID': '8',
  'YEAR_ID': '2003',
  'PRODUCTLINE': 'Motorcycles',
  'MSRP': '95',
  'PRODUCTCODE': 'S10_1678',
  'CUSTOMERNAME': 'Toys4GrownUps.com',
  'PHONE': '6265557265',
  'ADDRESSLINE1': '78934 Hillside Dr.',
  'ADDRESSLINE2': '',
  'CITY': 'Pasadena',
  'STATE': 'CA',
  'POSTALCODE': '90003',
  'COUNTRY': 'USA',
  'TERRITORY': 'NA',
  'CONTACTLASTNAME': 'Young',
  'CONTACTFIRSTNAME': 'Julie',
  'DEALSIZE': 'Medium'},
 {'_id': ObjectId('67b387e92a80135900d50032'),
  'ORDERNUMBER': '10159',
  'QUANTITYORDERED': '49',
  'PRICEEACH': '100',
  'ORDERLINENUMBER': '14',
  'SALES': '5205.27',
  'ORDERDATE': '10/10/2003 0:00',
  'STATUS': 'Shipped',
  'QTR_ID': '4',
  'MONTH_ID': '10',
  'YEAR_ID': '2003',
  'PRODUCTLINE': 'Motorcycles',
  'MSRP': '95',
  'PRODUCTCODE': 'S10_1678',
  'CUSTOMERNAME': 'Corporate Gift Ideas Co.',
  'PHONE': '6505551386',
  'ADDRESSLINE1': '7734 Strong St.',
  'ADDRESSLINE2': '',
  'CITY': 'San Francisco',
  'STATE': 'CA',
  'POSTALCODE': '',
  'COUNTRY': 'USA',
  'TERRITORY': 'NA',
  'CONTACTLASTNAME': 'Brown',
  'CONTACTFIRSTNAME': 'Julie',
  'DEALSIZE': 'Medium'}]

In [11]:
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("Sales Data Spark") \
    .config("spark.mongodb.read.connection.uri", uri) \
    .config("spark.mongodb.write.connection.uri", uri) \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector:10.0.3") \
    .getOrCreate()

In [12]:
df = (spark.read.format("mongodb").option("database", "db_sales").option("collection", "sales").load())

In [13]:
df.printSchema()

root
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)
 |-- MONTH_ID: string (nullable = true)
 |-- MSRP: string (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- ORDERLINENUMBER: string (nullable = true)
 |-- ORDERNUMBER: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- PRICEEACH: string (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- QTR_ID: string (nullable = true)
 |-- QUANTITYORDERED: string (nullable = true)
 |-- SALES: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- YEAR_ID: string (nullable = true)
 |-- _id: string (nullable = true)

In [14]:
df.show(5)

25/02/17 19:08:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+---------------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
|        ADDRESSLINE1|ADDRESSLINE2|         CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|        CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|      ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|           PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|  SALES|STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+---------------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
|897 Long Airport ...|            |          NYC|            Kwai|             Yu|    USA|   Land of Toys Inc.|   Small|       2|  95| 2/24/2003 0:00|              2|      10107|      2125557818|     10022|     95.7|   S10_1678|Motorcycles|     1|             30|   2871|   NY|Shipped|       NA|   2003|67b387e92a8013590...|
|  59 rue de l'Abbaye|            |        Reims|            Paul|        Henriot| France|  Reims Collectables|   Small|       5|  95|  5/7/2003 0:00|              5|      10121|      26.47.1555|     51100|    81.35|   S10_1678|Motorcycles|     2|             34| 2765.9|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|27 rue du Colonel...|            |        Paris|          Daniel|       Da Cunha| France|     Lyon Souveniers|  Medium|       7|  95|  7/1/2003 0:00|              2|      10134|+33 1 46 62 7555|     75508|    94.74|   S10_1678|Motorcycles|     3|             41|3884.34|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|  78934 Hillside Dr.|            |     Pasadena|           Julie|          Young|    USA|   Toys4GrownUps.com|  Medium|       8|  95| 8/25/2003 0:00|              6|      10145|      6265557265|     90003|    83.26|   S10_1678|Motorcycles|     3|             45| 3746.7|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
|     7734 Strong St.|            |San Francisco|           Julie|          Brown|    USA|Corporate Gift Id...|  Medium|      10|  95|10/10/2003 0:00|             14|      10159|      6505551386|          |      100|   S10_1678|Motorcycles|     4|             49|5205.27|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+---------------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
only showing top 5 rows

In [ ]:
df.select('PRODUCTLINE').distinct().show()

+----------------+
|     PRODUCTLINE|
+----------------+
|     Motorcycles|
|    Classic Cars|
|Trucks and Buses|
|    Vintage Cars|
|          Planes|
|           Ships|
|          Trains|
+----------------+

In [26]:
import pyspark.sql.functions as f
import pyspark.sql.types as t


df_productlines = df.select('PRODUCTLINE', 'SALES').groupBy('PRODUCTLINE').agg(
    f.count('PRODUCTLINE').alias('Count'),
    f.sum('SALES').cast(t.IntegerType()).alias('Total Sales')
).orderBy('Total Sales', ascending=False)
df_productlines.show()

+----------------+-----+-----------+
|     PRODUCTLINE|Count|Total Sales|
+----------------+-----+-----------+
|    Classic Cars|  967|    3919615|
|    Vintage Cars|  607|    1903150|
|     Motorcycles|  331|    1166388|
|Trucks and Buses|  301|    1127789|
|          Planes|  306|     975003|
|           Ships|  234|     714437|
|          Trains|   77|     226243|
+----------------+-----+-----------+

In [31]:
df.show(1)

+--------------------+------------+----+----------------+---------------+-------+-----------------+--------+--------+----+--------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-----+-----+-------+---------+-------+--------------------+
|        ADDRESSLINE1|ADDRESSLINE2|CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|     CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|     ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|     PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|SALES|STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+--------------------+------------+----+----------------+---------------+-------+-----------------+--------+--------+----+--------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-----+-----+-------+---------+-------+--------------------+
|897 Long Airport ...|            | NYC|            Kwai|             Yu|    USA|Land of Toys Inc.|   Small|       2|  95|2/24/2003 0:00|              2|      10107|2125557818|     10022|     95.7|   S10_1678|Motorcycles|     1|             30| 2871|   NY|Shipped|       NA|   2003|67b387e92a8013590...|
+--------------------+------------+----+----------------+---------------+-------+-----------------+--------+--------+----+--------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-----+-----+-------+---------+-------+--------------------+
only showing top 1 row

In [34]:
df.select('COUNTRY').where(f.length(df.COUNTRY) != 3).distinct().show()

+-----------+
|    COUNTRY|
+-----------+
|     France|
|     Norway|
|  Australia|
|    Finland|
|    Austria|
|         UK|
|      Spain|
|     Sweden|
|  Singapore|
|     Canada|
|      Japan|
|      Italy|
|    Denmark|
|    Belgium|
|Philippines|
|    Germany|
|Switzerland|
|    Ireland|
+-----------+

In [38]:
df.select('YEAR_ID').distinct().show()

+-------+
|YEAR_ID|
+-------+
|   2003|
|   2004|
|   2005|
+-------+

In [58]:
df_filters = (f.hour('ORDERDATE') != 0) | (f.minute('ORDERDATE') != 0) | (f.second('ORDERDATE') != 0)

df.withColumn(
    'ORDERDATE',
    f.to_timestamp('ORDERDATE', 'M/d/yyyy H:m')
).where(df_filters).show()

+-----------------+------------+----------+----------------+---------------+-------+--------------------+--------+--------+----+-------------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
|     ADDRESSLINE1|ADDRESSLINE2|      CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|        CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|          ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|     PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|  SALES|STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+-----------------+------------+----------+----------------+---------------+-------+--------------------+--------+--------+----+-------------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|  Medium|      11|  95|2004-11-02 01:00:00|              1|      10318|2155551555|     70267|    94.74|   S10_1678|Motorcycles|     4|             46|4358.04|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|  Medium|      11| 118|2004-11-02 01:00:00|              4|      10318|2155551555|     70267|      100|   S10_2016|Motorcycles|     4|             45| 5566.5|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|   Large|      11| 193|2004-11-02 01:00:00|              3|      10318|2155551555|     70267|      100|   S10_4698|Motorcycles|     4|             37|7667.14|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|  Medium|      11|  84|2004-11-02 01:00:00|              9|      10318|2155551555|     70267|      100|   S18_2581|     Planes|     4|             31|3116.43|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|   Small|      11|  60|2004-11-02 01:00:00|              5|      10318|2155551555|     70267|     52.7|   S18_2625|Motorcycles|     4|             42| 2213.4|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|  Medium|      11| 112|2004-11-02 01:00:00|              2|      10318|2155551555|     70267|      100|   S24_1578|Motorcycles|     4|             48|6437.28|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|   Small|      11|  76|2004-11-02 01:00:00|              6|      10318|2155551555|     70267|    86.83|   S24_2000|Motorcycles|     4|             26|2257.58|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
|9408 Furth Circle|            |Burlingame|            Juri|         Hirano|    USA|Technics Stores Inc.|   Small|      11|  72|2004-11-02 01:00:00|              1|      10317|6505556809|     94217|    83.32|   S24_4278|     Planes|     4|             35| 2916.2|   CA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|  Medium|      11|  99|2004-11-02 01:00:00|              7|      10318|2155551555|     70267|      100|   S32_1374|Motorcycles|     4|             47|5305.36|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
| 7586 Pompton St.|            | Allentown|           Kyung|             Yu|    USA|Diecast Classics ...|   Large|      11| 118|2004-11-02 01:00:00|              8|      10318|2155551555|     70267|      100|  S700_2834|     Planes|     4|             50|   7119|   PA|Shipped|       NA|   2004|67b387e92a8013590...|
+-----------------+------------+----------+----------------+---------------+-------+--------------------+--------+--------+----+-------------------+---------------+-----------+----------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+

In [59]:
treated_df = df.withColumns({
    'YEAR_ID': df.YEAR_ID.cast(t.IntegerType()),
    'SALES': df.SALES.cast(t.DoubleType()),
    'QUANTITYORDERED': df.QUANTITYORDERED.cast(t.IntegerType()),
    'QTR_ID': df.QTR_ID.cast(t.IntegerType()),
    'PRICEEACH': df.PRICEEACH.cast(t.DoubleType()),
    'POSTALCODE': df.POSTALCODE.cast(t.IntegerType()),
    'ORDERNUMBER': df.ORDERNUMBER.cast(t.IntegerType()),
    'ORDERLINENUMBER': df.ORDERLINENUMBER.cast(t.IntegerType()),
    'ORDERDATE': f.to_date(df.ORDERDATE, 'M/d/yyyy H:m'),
    'MSRP': df.MSRP.cast(t.IntegerType()),
    'MONTH_ID': df.MONTH_ID.cast(t.IntegerType()),
})
treated_df.show(10)

+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
|        ADDRESSLINE1|ADDRESSLINE2|         CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|        CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP| ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|           PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|  SALES|STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
|897 Long Airport ...|            |          NYC|            Kwai|             Yu|    USA|   Land of Toys Inc.|   Small|       2|  95|2003-02-24|              2|      10107|      2125557818|     10022|     95.7|   S10_1678|Motorcycles|     1|             30| 2871.0|   NY|Shipped|       NA|   2003|67b387e92a8013590...|
|  59 rue de l'Abbaye|            |        Reims|            Paul|        Henriot| France|  Reims Collectables|   Small|       5|  95|2003-05-07|              5|      10121|      26.47.1555|     51100|    81.35|   S10_1678|Motorcycles|     2|             34| 2765.9|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|27 rue du Colonel...|            |        Paris|          Daniel|       Da Cunha| France|     Lyon Souveniers|  Medium|       7|  95|2003-07-01|              2|      10134|+33 1 46 62 7555|     75508|    94.74|   S10_1678|Motorcycles|     3|             41|3884.34|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|  78934 Hillside Dr.|            |     Pasadena|           Julie|          Young|    USA|   Toys4GrownUps.com|  Medium|       8|  95|2003-08-25|              6|      10145|      6265557265|     90003|    83.26|   S10_1678|Motorcycles|     3|             45| 3746.7|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
|     7734 Strong St.|            |San Francisco|           Julie|          Brown|    USA|Corporate Gift Id...|  Medium|      10|  95|2003-10-10|             14|      10159|      6505551386|      null|    100.0|   S10_1678|Motorcycles|     4|             49|5205.27|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   9408 Furth Circle|            |   Burlingame|            Juri|         Hirano|    USA|Technics Stores Inc.|  Medium|      10|  95|2003-10-28|              1|      10168|      6505556809|     94217|    96.66|   S10_1678|Motorcycles|     4|             36|3479.76|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
|184, chausse de T...|            |        Lille|         Martine|          Rance| France|Daedalus Designs ...|   Small|      11|  95|2003-11-11|              9|      10180|      20.16.1555|     59000|    86.13|   S10_1678|Motorcycles|     4|             29|2497.77|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|Drammen 121, PR 7...|            |       Bergen|          Veysel|         Oeztan| Norway|        Herkku Gifts|  Medium|      11|  95|2003-11-18|              1|      10188|   +47 2267 3215|      null|    100.0|   S10_1678|Motorcycles|     4|             48|5512.32|     |Shipped|     EMEA|   2003|67b387e92a8013590...|
|5557 North Pendal...|            |San Francisco|           Julie|         Murphy|    USA|     Mini Wheels Co.|   Small|      12|  95|2003-12-01|              2|      10201|      6505555787|      null|    98.57|   S10_1678|Motorcycles|     4|             22|2168.54|   CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   25, rue Lauriston|            |        Paris|       Dominique|        Perrier| France|    Auto Canal Petit|  Medium|       1|  95|2004-01-15|             14|      10211|  (1) 47.55.6555|     75016|    100.0|   S10_1678|Motorcycles|     1|             41|4708.44|     |Shipped|     EMEA|   2004|67b387e92a8013590...|
+--------------------+------------+-------------+----------------+---------------+-------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+-----+-------+---------+-------+--------------------+
only showing top 10 rows

In [60]:
treated_df.printSchema()

root
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)
 |-- MONTH_ID: integer (nullable = true)
 |-- MSRP: integer (nullable = true)
 |-- ORDERDATE: date (nullable = true)
 |-- ORDERLINENUMBER: integer (nullable = true)
 |-- ORDERNUMBER: integer (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- POSTALCODE: integer (nullable = true)
 |-- PRICEEACH: double (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- QTR_ID: integer (nullable = true)
 |-- QUANTITYORDERED: integer (nullable = true)
 |-- SALES: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- YEAR_ID: integer (nullable = true)
 |-- _id: string (nullable = true)

In [61]:
treated_df.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in treated_df.columns]).show()

+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|ADDRESSLINE1|ADDRESSLINE2|CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|SALES|STATE|STATUS|TERRITORY|YEAR_ID|_id|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|           0|           0|   0|               0|              0|      0|           0|       0|       0|   0|        0|              0|          0|    0|       541|        0|          0|          0|     0|              0|    0|    0|     0|        0|      0|  0|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+

In [62]:
treated_df.select([f.count(f.when(f.length(c) == 0, 1)).alias(c) for c in treated_df.columns]).show()

+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|ADDRESSLINE1|ADDRESSLINE2|CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|SALES|STATE|STATUS|TERRITORY|YEAR_ID|_id|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|           0|        2521|   0|               0|              0|      0|           0|       0|       0|   0|        0|              0|          0|    0|         0|        0|          0|          0|     0|              0|    0| 1486|     0|        0|      0|  0|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+

In [68]:
treated_df = treated_df.na.replace("", None)
treated_df.show()

+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
|        ADDRESSLINE1|ADDRESSLINE2|         CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|  COUNTRY|        CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP| ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|           PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|  SALES|   STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
|897 Long Airport ...|        null|          NYC|            Kwai|             Yu|      USA|   Land of Toys Inc.|   Small|       2|  95|2003-02-24|              2|      10107|      2125557818|     10022|     95.7|   S10_1678|Motorcycles|     1|             30| 2871.0|      NY|Shipped|       NA|   2003|67b387e92a8013590...|
|  59 rue de l'Abbaye|        null|        Reims|            Paul|        Henriot|   France|  Reims Collectables|   Small|       5|  95|2003-05-07|              5|      10121|      26.47.1555|     51100|    81.35|   S10_1678|Motorcycles|     2|             34| 2765.9|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|27 rue du Colonel...|        null|        Paris|          Daniel|       Da Cunha|   France|     Lyon Souveniers|  Medium|       7|  95|2003-07-01|              2|      10134|+33 1 46 62 7555|     75508|    94.74|   S10_1678|Motorcycles|     3|             41|3884.34|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|  78934 Hillside Dr.|        null|     Pasadena|           Julie|          Young|      USA|   Toys4GrownUps.com|  Medium|       8|  95|2003-08-25|              6|      10145|      6265557265|     90003|    83.26|   S10_1678|Motorcycles|     3|             45| 3746.7|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|     7734 Strong St.|        null|San Francisco|           Julie|          Brown|      USA|Corporate Gift Id...|  Medium|      10|  95|2003-10-10|             14|      10159|      6505551386|      null|    100.0|   S10_1678|Motorcycles|     4|             49|5205.27|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   9408 Furth Circle|        null|   Burlingame|            Juri|         Hirano|      USA|Technics Stores Inc.|  Medium|      10|  95|2003-10-28|              1|      10168|      6505556809|     94217|    96.66|   S10_1678|Motorcycles|     4|             36|3479.76|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|184, chausse de T...|        null|        Lille|         Martine|          Rance|   France|Daedalus Designs ...|   Small|      11|  95|2003-11-11|              9|      10180|      20.16.1555|     59000|    86.13|   S10_1678|Motorcycles|     4|             29|2497.77|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|Drammen 121, PR 7...|        null|       Bergen|          Veysel|         Oeztan|   Norway|        Herkku Gifts|  Medium|      11|  95|2003-11-18|              1|      10188|   +47 2267 3215|      null|    100.0|   S10_1678|Motorcycles|     4|             48|5512.32|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|5557 North Pendal...|        null|San Francisco|           Julie|         Murphy|      USA|     Mini Wheels Co.|   Small|      12|  95|2003-12-01|              2|      10201|      6505555787|      null|    98.57|   S10_1678|Motorcycles|     4|             22|2168.54|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   25, rue Lauriston|        null|        Paris|       Dominique|        Perrier|   France|    Auto Canal Petit|  Medium|       1|  95|2004-01-15|             14|      10211|  (1) 47.55.6555|     75016|    100.0|   S10_1678|Motorcycles|     1|             41|4708.44|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|   636 St Kilda Road|     Level 3|    Melbourne|           Peter|       Ferguson|Australia|Australian Collec...|  Medium|       2|  95|2004-02-20|              1|      10223|    03 9520 4555|      3004|    100.0|   S10_1678|Motorcycles|     1|             37|3965.66|Victoria|Shipped|     APAC|   2004|67b387e92a8013590...|
|   2678 Kingston Rd.|   Suite 101|          NYC|         Michael|          Frick|      USA|     Vitachrome Inc.|   Small|       4|  95|2004-04-05|              7|      10237|      2125551500|     10022|    100.0|   S10_1678|Motorcycles|     2|             23|2333.12|      NY|Shipped|       NA|   2004|67b387e92a8013590...|
|       7476 Moss Rd.|        null|       Newark|         William|          Brown|      USA|Tekni Collectable...|  Medium|       5|  95|2004-05-18|              2|      10251|      2015559350|     94019|    100.0|   S10_1678|Motorcycles|     2|             28|3188.64|      NJ|Shipped|       NA|   2004|67b387e92a8013590...|
| 25593 South Bay Ln.|        null|  Bridgewater|           Julie|           King|      USA|     Gift Depot Inc.|  Medium|       6|  95|2004-06-28|              2|      10263|      2035552570|     97562|    100.0|   S10_1678|Motorcycles|     2|             34|3676.76|      CT|Shipped|       NA|   2004|67b387e92a8013590...|
|67, rue des Cinqu...|        null|       Nantes|          Janine|        Labrune|   France|   La Rochelle Gifts|  Medium|       7|  95|2004-07-23|              1|      10275|      40.67.8555|     44000|    92.83|   S10_1678|Motorcycles|     3|             45|4177.35|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
| 39323 Spinnaker Dr.|        null|    Cambridge|           Marta|      Hernandez|      USA|Marta's Replicas Co.|  Medium|       8|  95|2004-08-27|              6|      10285|      6175558555|     51247|    100.0|   S10_1678|Motorcycles|     3|             36|4099.68|      MA|Shipped|       NA|   2004|67b387e92a8013590...|
|       Keskuskatu 45|        null|     Helsinki|           Matti|      Karttunen|  Finland|Toys of Finland, Co.|   Small|       9|  95|2004-09-30|              9|      10299|     90-224 8555|     21240|    100.0|   S10_1678|Motorcycles|     3|             23|2597.39|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|Erling Skakkes ga...|        null|      Stavern|           Jonas|     Bergulfsen|   Norway|  Baane Mini Imports|  Medium|      10|  95|2004-10-15|              5|      10309|      07-98 9555|      4110|    100.0|   S10_1678|Motorcycles|     4|             41|4394.38|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|    7586 Pompton St.|        null|    Allentown|           Kyung|             Yu|      USA|Diecast Classics ...|  Medium|      11|  95|2004-11-02|              1|      10318|      2155551555|     70267|    94.74|   S10_1678|Motorcycles|     4|             46|4358.04|      PA|Shipped|       NA|   2004|67b387e92a8013590...|
|897 Long Airport ...|        null|          NYC|            Kwai|             Yu|      USA|   Land of Toys Inc.|  Medium|      11|  95|2004-11-15|              1|      10329|      2125557818|     10022|    100.0|   S10_1678|Motorcycles|     4|             42|4396.14|      NY|Shipped|       NA|   2004|67b387e92a8013590...|
+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
only showing top 20 rows

In [70]:
treated_df.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in treated_df.columns]).show()

+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|ADDRESSLINE1|ADDRESSLINE2|CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|COUNTRY|CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP|ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|SALES|STATE|STATUS|TERRITORY|YEAR_ID|_id|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+
|           0|        2521|   0|               0|              0|      0|           0|       0|       0|   0|        0|              0|          0|    0|       541|        0|          0|          0|     0|              0|    0| 1486|     0|        0|      0|  0|
+------------+------------+----+----------------+---------------+-------+------------+--------+--------+----+---------+---------------+-----------+-----+----------+---------+-----------+-----------+------+---------------+-----+-----+------+---------+-------+---+

In [71]:
treated_df.write.parquet("../data/parquet", mode="overwrite")

In [72]:
df_parquet = spark.read.parquet("../data/parquet")
df_parquet.show()

+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
|        ADDRESSLINE1|ADDRESSLINE2|         CITY|CONTACTFIRSTNAME|CONTACTLASTNAME|  COUNTRY|        CUSTOMERNAME|DEALSIZE|MONTH_ID|MSRP| ORDERDATE|ORDERLINENUMBER|ORDERNUMBER|           PHONE|POSTALCODE|PRICEEACH|PRODUCTCODE|PRODUCTLINE|QTR_ID|QUANTITYORDERED|  SALES|   STATE| STATUS|TERRITORY|YEAR_ID|                 _id|
+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
|897 Long Airport ...|        null|          NYC|            Kwai|             Yu|      USA|   Land of Toys Inc.|   Small|       2|  95|2003-02-24|              2|      10107|      2125557818|     10022|     95.7|   S10_1678|Motorcycles|     1|             30| 2871.0|      NY|Shipped|       NA|   2003|67b387e92a8013590...|
|  59 rue de l'Abbaye|        null|        Reims|            Paul|        Henriot|   France|  Reims Collectables|   Small|       5|  95|2003-05-07|              5|      10121|      26.47.1555|     51100|    81.35|   S10_1678|Motorcycles|     2|             34| 2765.9|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|27 rue du Colonel...|        null|        Paris|          Daniel|       Da Cunha|   France|     Lyon Souveniers|  Medium|       7|  95|2003-07-01|              2|      10134|+33 1 46 62 7555|     75508|    94.74|   S10_1678|Motorcycles|     3|             41|3884.34|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|  78934 Hillside Dr.|        null|     Pasadena|           Julie|          Young|      USA|   Toys4GrownUps.com|  Medium|       8|  95|2003-08-25|              6|      10145|      6265557265|     90003|    83.26|   S10_1678|Motorcycles|     3|             45| 3746.7|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|     7734 Strong St.|        null|San Francisco|           Julie|          Brown|      USA|Corporate Gift Id...|  Medium|      10|  95|2003-10-10|             14|      10159|      6505551386|      null|    100.0|   S10_1678|Motorcycles|     4|             49|5205.27|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   9408 Furth Circle|        null|   Burlingame|            Juri|         Hirano|      USA|Technics Stores Inc.|  Medium|      10|  95|2003-10-28|              1|      10168|      6505556809|     94217|    96.66|   S10_1678|Motorcycles|     4|             36|3479.76|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|184, chausse de T...|        null|        Lille|         Martine|          Rance|   France|Daedalus Designs ...|   Small|      11|  95|2003-11-11|              9|      10180|      20.16.1555|     59000|    86.13|   S10_1678|Motorcycles|     4|             29|2497.77|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|Drammen 121, PR 7...|        null|       Bergen|          Veysel|         Oeztan|   Norway|        Herkku Gifts|  Medium|      11|  95|2003-11-18|              1|      10188|   +47 2267 3215|      null|    100.0|   S10_1678|Motorcycles|     4|             48|5512.32|    null|Shipped|     EMEA|   2003|67b387e92a8013590...|
|5557 North Pendal...|        null|San Francisco|           Julie|         Murphy|      USA|     Mini Wheels Co.|   Small|      12|  95|2003-12-01|              2|      10201|      6505555787|      null|    98.57|   S10_1678|Motorcycles|     4|             22|2168.54|      CA|Shipped|       NA|   2003|67b387e92a8013590...|
|   25, rue Lauriston|        null|        Paris|       Dominique|        Perrier|   France|    Auto Canal Petit|  Medium|       1|  95|2004-01-15|             14|      10211|  (1) 47.55.6555|     75016|    100.0|   S10_1678|Motorcycles|     1|             41|4708.44|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|   636 St Kilda Road|     Level 3|    Melbourne|           Peter|       Ferguson|Australia|Australian Collec...|  Medium|       2|  95|2004-02-20|              1|      10223|    03 9520 4555|      3004|    100.0|   S10_1678|Motorcycles|     1|             37|3965.66|Victoria|Shipped|     APAC|   2004|67b387e92a8013590...|
|   2678 Kingston Rd.|   Suite 101|          NYC|         Michael|          Frick|      USA|     Vitachrome Inc.|   Small|       4|  95|2004-04-05|              7|      10237|      2125551500|     10022|    100.0|   S10_1678|Motorcycles|     2|             23|2333.12|      NY|Shipped|       NA|   2004|67b387e92a8013590...|
|       7476 Moss Rd.|        null|       Newark|         William|          Brown|      USA|Tekni Collectable...|  Medium|       5|  95|2004-05-18|              2|      10251|      2015559350|     94019|    100.0|   S10_1678|Motorcycles|     2|             28|3188.64|      NJ|Shipped|       NA|   2004|67b387e92a8013590...|
| 25593 South Bay Ln.|        null|  Bridgewater|           Julie|           King|      USA|     Gift Depot Inc.|  Medium|       6|  95|2004-06-28|              2|      10263|      2035552570|     97562|    100.0|   S10_1678|Motorcycles|     2|             34|3676.76|      CT|Shipped|       NA|   2004|67b387e92a8013590...|
|67, rue des Cinqu...|        null|       Nantes|          Janine|        Labrune|   France|   La Rochelle Gifts|  Medium|       7|  95|2004-07-23|              1|      10275|      40.67.8555|     44000|    92.83|   S10_1678|Motorcycles|     3|             45|4177.35|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
| 39323 Spinnaker Dr.|        null|    Cambridge|           Marta|      Hernandez|      USA|Marta's Replicas Co.|  Medium|       8|  95|2004-08-27|              6|      10285|      6175558555|     51247|    100.0|   S10_1678|Motorcycles|     3|             36|4099.68|      MA|Shipped|       NA|   2004|67b387e92a8013590...|
|       Keskuskatu 45|        null|     Helsinki|           Matti|      Karttunen|  Finland|Toys of Finland, Co.|   Small|       9|  95|2004-09-30|              9|      10299|     90-224 8555|     21240|    100.0|   S10_1678|Motorcycles|     3|             23|2597.39|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|Erling Skakkes ga...|        null|      Stavern|           Jonas|     Bergulfsen|   Norway|  Baane Mini Imports|  Medium|      10|  95|2004-10-15|              5|      10309|      07-98 9555|      4110|    100.0|   S10_1678|Motorcycles|     4|             41|4394.38|    null|Shipped|     EMEA|   2004|67b387e92a8013590...|
|    7586 Pompton St.|        null|    Allentown|           Kyung|             Yu|      USA|Diecast Classics ...|  Medium|      11|  95|2004-11-02|              1|      10318|      2155551555|     70267|    94.74|   S10_1678|Motorcycles|     4|             46|4358.04|      PA|Shipped|       NA|   2004|67b387e92a8013590...|
|897 Long Airport ...|        null|          NYC|            Kwai|             Yu|      USA|   Land of Toys Inc.|  Medium|      11|  95|2004-11-15|              1|      10329|      2125557818|     10022|    100.0|   S10_1678|Motorcycles|     4|             42|4396.14|      NY|Shipped|       NA|   2004|67b387e92a8013590...|
+--------------------+------------+-------------+----------------+---------------+---------+--------------------+--------+--------+----+----------+---------------+-----------+----------------+----------+---------+-----------+-----------+------+---------------+-------+--------+-------+---------+-------+--------------------+
only showing top 20 rows

In [ ]:
spark.stop()
client.close()